@model Category


<div class="card mt-2">
    <div class="card-body">
        نام گروه : <b>@Model.Name</b>
    </div>

    <div class="card-body">
        جزئیات محصول : <b>@Model.Description</b>
    </div>

    <div class="card-footer">
        <form asp-action="DeleteCategory" asp-route-categoryId="@Model.Id" method="post">
                <button onclick="return confirm('ایا از حذف محصول مطمئن هستید')" type="submit" class="btn btn-danger">
                    حذف
                </button>
            </form>

            <a asp-action="EditCategory" asp-route-categoryId="@Model.Id"
               class="btn btn-primary">
                ویرایش
            </a>
    </div>
</div>