@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li>
        <a asp-controller="Account" asp-action="LogOut"> خروج</a>
    </li>
}
else
{
    <li>
        <a asp-controller="Account" asp-action="Register">ثبت نام</a>
    </li>
    <li>
        <a asp-controller="Account" asp-action="Login">ورود</a>
    </li>
}
