@model IEnumerable<RoleViewModel>
@{
    ViewData["Title"] = "Index";
}

<div>
    <a  asp-action="AddRole" class="btn btn-primary">افزودن مقام</a>
</div>

@if (!Model.Any())
{
    <div class="alert alert-danger" style="margin-top: 15px;">
        مقامی یافت نشد
    </div>
}
else
{
    foreach (var role in Model)
    {
        <div class="card mt-2">
            <div class="card-body">
                نام مقام : <b>@role.Name</b>
            </div>
            <div class="card-footer row">
                <form  asp-action="DeleteRole" asp-route-roleId="@role.Id" method="post">
                    <button type="submit" onclick="return confirm('ایا از حذف مقام مطمئن هستید؟')" class="btn btn-danger">
                        حذف
                    </button>
                </form>

                    <a  asp-action="EditRole" asp-route-roleId="@role.Id"
                       class="btn btn-primary">
                        ویرایش
                    </a>
            </div>
        </div>
    }
}