@model QuestionForProduct

<div>
    <form asp-controller="Product" asp-action="AddQuestionToProduct" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="FullName" />
        <input type="hidden" asp-for="ProductId" />
        <input type="hidden" asp-for="DateTime" />


        <div class="form-group">
            <label asp-for="QuestionText" class="control-label"></label>
            <input asp-for="QuestionText" class="form-control" placeholder="سوال خوذ راوارد کنید " />
            <span asp-validation-for="QuestionText" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="ارسال نظر" class="btn btn-success" />
        </div>

    </form>
</div>