@model IEnumerable<ManageUsersViewModel>
@{
    ViewData["Title"] = "Index";
}


@if (!Model.Any())
{
    <div class="alert alert-danger" style="margin-top: 15px;">
        کاربری یافت نشد
    </div>
}
else
{
    <div id="view-all">
        @await Html.PartialAsync("User/_BoxManageUsers", Model)
    </div>
}

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}