@model AddOrRemoveUserFromRoleViewModel
@{
    Layout = null;
}


@if (!Model.RolesName.Any())
{
    <div class="alert alert-danger" style="margin-top: 15px;">
        هیچ مقامی یافت نشد
    </div>
}
else
{
    <form asp-action="RemoveUserFromRole" method="post" onsubmit="return AddProductAjaxPost(this);" autocomplete="off">
        <div asp-validation-summary="ModelOnly"></div>

        <input type="hidden" asp-for="@Model.UserId" />

        <div class="row mb-2">
            <div class="col-md-11 card" style="margin-right: 33px">

                @if (Model != null)
                {
                    <div class="card-body pre-scrollable">
                        @foreach (var item in Model.RolesName)
                        {
                            <div class="form-group col-md-6">
                                <input type="checkbox" name="SelectedRoles" value="@item" /> @item
                            </div>
                        }
                    </div>

                }
            </div>
        </div>
        <div class="row card-footer">
            <div class="col-md-6">
                <input type="submit" value="بروز رسانی" class="btn btn-success btn-block" />
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-danger btn-block" data-dismiss="modal" aria-label="Close">
                    خروج
                </button>
            </div>
        </div>
    </form>
}