@model IEnumerable<Category>


<table>
    <thead>
    <tr>
        <th>نام</th>
        <th>توضیحات</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>@item.Description</td>
            <td>
                <a onclick="showModal('@Url.Action("AddOrEditCategory","CategoriesManager",new {categoryId = item.Id},Context.Request.Scheme)', 'ویرایش گروه')"
                   class="btn btn-primary text-white">
                    <i class="bi bi-pencil-fill"></i> ویرایش
                </a>
                <a asp-action="DeleteCategory" asp-route-productId="@item.Id" class="btn btn-danger text-white">حذف</a>
            </td>
        </tr>
    }
    </tbody>
</table>
