@inject IUnitOfWork uow;

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">گروه ها</a>
    <div class="dropdown-menu" aria-labelledby="dropdown09">

        @foreach (var item in await uow.CategoryRe.GetCategoriesForShowAsync())
        {
            <a class="dropdown-item" asp-controller="Product"
               asp-action="ShowProductsByCategoryId"
               asp-route-categoryId="@item.CategoryId"
               asp-route-categoryName="@item.Name">@item.Name</a>
            <span class="badge badge-primary badge-pill">@item.ProductCount</span>
        }
    </div>
</li>