@model AddOrEditProductViewModel
@{
    ViewData["Title"] = "EditProduct";
}

@{
    ViewData["Title"] = "ویریش";
}
<div class="text-center display-5">
    <h1>ویرایش کالا</h1>
</div>
<hr />
<form asp-action="EditProduct" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="row">


        <div class="col-8">

            <div class="text-center">
                <h5>مشخصات کالا</h5>
            </div>
            <hr />

            <div class="card mt-2">

                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="ShortKey" />

                <div class="form-group card-body">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group card-body">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group card-body">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group card-body">
                    <label asp-for="QuantityInStock"></label>
                    <input asp-for="QuantityInStock" class="form-control" />
                    <span asp-validation-for="QuantityInStock" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <img src="/images/@(Model.Id).jpg" style="max-width: 250px; border: 1px solid gray; padding: 3px" />
                </div>

                <div class="form-group card-body">
                    <label asp-for="Picture"></label>
                    <input asp-for="Picture" class="form-control" />
                    <span asp-validation-for="QuantityInStock" class="text-danger"></span>
                </div>

            </div>
        </div>

        <div class="col-4">

            <div class=" text-center">
                <h5>گروه های کالا</h5>
            </div>
            <hr />
            @if (Model.Categories != null)
            {
                <div class="card mt-2">

                    @foreach (var category in Model.Categories)
                    {
                        <div class="form-group card-body">
                            <input type="checkbox" name="SelectedCategories" value="@category.Id" /> @category.Name
                        </div>
                    }

                </div>
            }

        </div>


    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success mt-3">افزودن محصول</button>

        <a asp-action="Index" class="btn btn-danger mt-3">بازگشت</a>
    </div>

</form>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}