@model ShowProductsViewModel

@{
    ViewData["Title"] = "Index";
}



<a onclick="showModal('@Url.Action("AddOrEditProduct", "ProductsManager", null, Context.Request.Scheme)', 'محصول جدید')" class="col-2 btn btn-success btn-block text-white">
    افزودن کالا
</a>

<hr />

<div id="view-all">
    @await Html.PartialAsync("Product/_BoxManageProducts", Model)
</div>





@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}