@model ShowProductsViewModel

@{
    ViewData["Title"] = "Index";
}


<div class="text-center display-4">
    خوش آمدید
</div>
<hr />
<div id="products">
    @await Html.PartialAsync("Product/_BoxOfProducts", Model)
</div>