@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>Product</h4>
    <hr />
    @foreach (var item in Model)
    {
       <partial name="Product/_BoxOfProducts" model="item"/>
    }
</div>
