@model ShowProductsViewModel
@{
    ViewData["Title"] = @ViewData["ChildCategoryName"];
}

<div class="text-center">
    <div class="text-center">
        <h1>محصولات گروه @ViewData["ChildCategoryName"]</h1>
    </div>
    <hr />
    <div id="products">
        @await Html.PartialAsync("Product/_BoxOfProducts", Model)
    </div>

</div>

