@model AddOrEditCategoryViewModel
@{
    ViewData["Title"] = "AddCategory";
}

<div class="text-center display-5">
    <h1>افزودن گروه</h1>
</div>
<hr />


<div class="card mt-2">
    <form  asp-action="AddCategory" method="post">
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Category.Name"></label>
                <input asp-for="Category.Name" class="form-control" />
                <span asp-validation-for="Category.Name"></span>
            </div>
        </div>

        <div class="card-body">
            <div class="form-group">
                <label asp-for="Category.Description"></label>
                <input asp-for="Category.Description" class="form-control" />
                <span asp-validation-for="Category.Description"></span>
            </div>
        </div>
          
        @if (Model.Products != null)
        {
           

            @foreach (var item in Model.Products)
            {
                <div class="form-group card-body">
                    <input type="checkbox" name="SelectedProducts" value="@item.Id" /> @item.Name
                </div>
            }

         
        }

        <div class="card-footer">
            <button type="submit" class="btn btn-success mt-3">افزودن گروه</button>

            <a asp-action="Index" class="btn btn-danger mt-3">بازگشت</a>
        </div>

    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}