@model AddOrEditCategoryViewModel
@{
    ViewData["Title"] = "EditCategory";
}

<h1>ویریش کالا</h1>
<hr />
<form asp-action="EditCategory" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="row">


        <div class="col-8">

            <div class=" text-center">
                <h5>مشخصات کالا</h5>
            </div>
            <hr />

            <div class="card mt-2">

                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="Category.Id" />

                <div class="form-group card-body">
                    <label asp-for="Category.Name"></label>
                    <input asp-for="Category.Name" class="form-control" />
                    <span asp-validation-for="Category.Name" class="text-danger"></span>
                </div>

                <div class="form-group card-body">
                    <label asp-for="Category.Description"></label>
                    <textarea asp-for="Category.Description" class="form-control"></textarea>
                    <span asp-validation-for="Category.Description" class="text-danger"></span>
                </div>

            </div>
        </div>

        <div class="col-4">

            <div class=" text-center">
                <h5>گروه ها</h5>
            </div>
            <hr />
            <div class="card mt-2">

                @if (Model.Products != null)
                {
                    <div class="card mt-2">

                        @foreach (var item in Model.Products)
                        {
                            <div class="form-group card-body">
                                <input type="checkbox" name="SelectedProducts" value="@item.Id" /> @item.Name
                            </div>
                        }

                    </div>
                }

            </div>

        </div>


    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success mt-3">افزودن محصول</button>

        <a asp-action="Index" class="btn btn-danger mt-3">بازگشت</a>
    </div>

</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


