@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}


<a onclick="showModal('@Url.Action("AddOrEditCategory","CategoriesManager",null,Context.Request.Scheme)', 'گروه جدید')" class="btn btn-success text-white">افزودن کالا</a>

@if (!Model.Any())
{
    <div class="alert alert-danger" style="margin-top: 15px">
        گروهی یافت نشد
    </div>
}
else
{
<div id="view-all">
    @await Html.PartialAsync("Category/_BoxManageCategories", Model);
</div>
}



@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}